langchain
langchain_core
langchain_community
ipykernel
streamlit
fastapi
langserve
uvicorn
sse_starlette
pypdf
bs4
wikipedia
langchain-text-splitters
langchain-ollama
python-dotenv
langchain-huggingface
sentence-transformers